DATABASE_URL="postgresql://everdear_app:change_me@localhost:5432/everdear_dev?schema=public"
TEST_DATABASE_URL="postgresql://everdear_app:change_me@localhost:5432/everdear_test?schema=public"

PORT=4000
WEB_ORIGIN="http://localhost:3000"
SHADOW_DATABASE_URL="postgresql://everdear_app:change_me@localhost:5432/everdear_shadow?schema=public"